* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    background-color: white;
    transition: 0.3s;
}

nav {
    transition: 0.3s;
}

p {
    padding: .5rem;
    font-size:18px;
}

.dark-mode {
    color: white;
    background-color: #202429;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-around;
}

.flex-container > * {
    padding: 1rem;
}

.flex-container > a {
    text-decoration: none;
    font-size: 18px;
    color: inherit;
}

svg {
    margin-right: 6px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    gap: 10px;
}



a:hover {
    cursor: pointer;
}

h2, h4 {
    padding:.5rem;
}

h3 {
    justify-self: center;
}


#langs::before {
    content: "{/}";
    margin-right: 10px;
    color: #4B57DB;
}

.grid-container > div > img {
    width: 50px;
    height: auto;
}

.grid-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

#myimg {
    hieght: 100%;
    max-height: 200px;
    width: 100%;
    max-width: 200px;
    border-radius: 200px;
}

button {
    border: none;
    color: white;
    background-color: #4B57DB;
    padding: 18px;
    font-size: 1rem;
    border-radius: 50px;
}

.darkmode-toggle {
    width: 100px;
    height: 50px;
    position: relative;
    display: block;
    background-color: #dcdcdc;
    border-radius: 50px;
    box-shadow: inset 0px 3px 10px rgba(0,0,0,0.4), inset 0px -3px 10px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s;
}

.darkmode-toggle::after {
    content: ' ';
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
    position: absolute;
    top: 9%;
    left: 9%;
    background-color: #f9f9fa;
    transition: 0.3s;
}

.darkmode-toggle.active {
    background-color: black;
}

.darkmode-toggle.active::after {
    left: 90px;
    transform: translateX(-100%);
    background-color: #202429;
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
}
